.wrapper-header {
    height: 20%;
}

.sidebar {
    border: #454A58 solid 1px;
    box-shadow: 0 0 5px #181D2B;
    color : #cfd2da;
    position: fixed;
    left: -20%;
    background-color: #252830;
    width: 25%;
    height: 100%;
    z-index : 90;
    transition: left 0.5s;
}

.sidebar section {
    margin-top: 10px;
}

.sidebar.active{
    left: 0;
}

.layout{
    margin-left: 5%;
}

.layout-wrapper {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: black ;
    -moz-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.layout-wrapper.faded {
    display: block;
    z-index: 89;
    opacity: 0.6;
}


body{
    color : #cfd2da;
    background-color: #252830;
}

section {
    margin: 5px;
}

