$background: black;
$border: black;
$shadow: rgba(0,0,0,0.9);
$color : #dec49e;
$op : 0.9;


body {
  background-color: $background;
}

@mixin bg-size ($size) {
  -moz-background-size: $size; /* Firefox 3.6+ */
  -webkit-background-size: $size; /* Safari 3.1+ и Chrome 4.0+ */
  -o-background-size: $size; /* Opera 9.6+ */
  background-size: $size
}

@mixin shadow (){
  box-shadow: 0 10px 5px $shadow;
}

.btn-default {
  background-color: $background;
  color: $color;
  border: $border;
}

@mixin transition($value) {
  -webkit-transition: $value;
  -moz-transition: $value;
  transition: $value;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

section {
  margin: 5px;
}

#greeting{
  position: fixed;
  top: 20%;
  left: 5%;
  width: 30%;
}

#info{
  position: fixed;
  bottom: 20%;
  left: 35%;
  width: 30%;

}

.content {
  margin-top: 100px;
}

.btn.round {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.bg {
  position: absolute;
  background: url('../assets/img/clj.png') no-repeat;
  @include bg-size(cover);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#content-view {
  margin-top: 100px;
}

.header{
  @include shadow();
  position: fixed;
  top: 10px;
  opacity: $op;
  padding: 10px;
  color: $color;
  min-height: 50px;
  background: $background;
}

.footer{
  @include shadow();
  position: fixed;
  bottom: 10px;
  opacity: $op;
  padding: 10px;
  color: $color;
  min-height: 50px;
  background: $background;
}

.panel {
  background: black;
  border-radius: 0;
  opacity: $op;
  color: $color;
  padding: 10px;
  @include shadow();

  .panel-heading {

    h4 {
      position: relative;
      margin-bottom: 5px;

      &:after {
        content: "";
        bottom: -5px;
        left: 0;
        height: 2px;
        width: 40%;
        background: #dec49e;
        position: absolute;
      }
    }
  }
}

div.round-sidebar {
  opacity: $op;
  position: fixed;
  top: 50%;
  right: -75px;
  margin-top: -75px;
  z-index: 90;
  display: block;
  padding: 5px;
  width: 150px;
  height: 150px;

  border: $border solid 1px;
  color: $color;
  background-color: $background;
  @include shadow();
  @include transition(all .5s);
  @include border-radius(50%);

  .btn {
    outline: none;
    position: absolute;
    margin-left: -55px;
    margin-top: -25px;
    top: 50%;
    left: 50%;
    @include transition(all .5s);
  }
}

div.round-sidebar.active {
  width: 300px;
  margin-top: -150px;
  right: -150px;
  height: 300px;

  .btn {
    margin-left: -25px;
  }

  #nav {
    margin-left: -55px;
  }
  #main {
    top: 19%;
    left: 37%;
  }
  #components {
    left: 22%;
    top: 32%
  }
  #about {
    left: 16%;
    top: 50%
  }
  #reply {
    left: 22%;
    top: 68%
  }
}

.layout-wrapper.faded {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  opacity: $op;
  background-color: black;
  @include transition(all .5s);
}
