<div class="round-sidebar" ng-class="{active : sidebarOpened}" ng-show="nav == 'round'">
    <button class="btn btn-default round" id="nav51" ng-click="go('wrapper.main')">
        <i class="fa fa-2x fa-hand-peace-o"></i>
    </button>
    <button class="btn btn-default round" id="nav52" ng-click="go('wrapper.components')">
        <i class="fa fa-2x fa-cogs"></i>
    </button>
    <button class="btn btn-default round" id="nav53" ng-click="go('wrapper.main')">
        <i class="fa fa-2x fa-user"></i>
    </button>
    <button class="btn btn-default round" id="nav54" ng-click="go('wrapper.components')">
        <i class="fa fa-2x fa-envelope-o"></i>
    </button>
    <button class="btn btn-default round" id="nav55" ng-click="go('wrapper.main')">
        <i class="fa fa-2x fa-bullhorn"></i>
    </button>
    <button class="btn btn-default round" id="nav" ng-click="toggle()">
        <i class="fa fa-bars fa-2x"></i>
    </button>
</div>
<div class="layout">
    <div class="bg container">
        <div style="z-index: 1" ui-view="header"></div>
        <div style="z-index: 1" ui-view="content"></div>
        <div style="z-index: 1" ui-view="footer"></div>
    </div>
</div>